@font-face {
  font-family: myFirstFont;
  src: url(iransans.ttf);
}

p.thick {
    font-weight: bold;
    color : #191920;
    font-family: myFirstFont;
    font-size: 120%;

}
p.skinny{
    font-weight: normal;
    color : #1d1e1e;
    font-family: myFirstFont;
    font-size: 100%;
}
p.tiny{
    font-weight: normal;
    color : #1d1e1e;
    font-family: myFirstFont;
    font-size: 70%;
}
.book_detail_box{
    float: right;
    direction: rtl;
}
#logo-image{
    height: 20%;
}


.sidebar {
  margin-right: 1%;
  float: right;
  width: 20%;
  position: static;
  height: 100%;
  overflow: auto;
  margin-top: 1%;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  margin-top: 1%;
  clear: both;
  text-align: right;
  direction: rtl;
}

.sidebar a.active {
  background-color: #121443;
  color: white;
}
.sidebar p.active {
    background-color: #121443;
    color: white;
  }
  

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.nejat {
        text-align: center;
        background-color: #246609;
        color: #f1f1f1; 
        direction: rtl;
}

.ozvshavid {

    text-align: center;
    background-color: #121443;
    color: #f1f1f1; 
    direction: rtl;
    width: 100%

}
