
{%  load static from staticfiles  %}


<html >
    <head>
        <meta charset="utf-8">
          <title>{% block title %}جاسپر | جزوه یاب{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href='{% static "styles.css" %}' />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
          
        </script>
<style>
        img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    </style>

            
          {% block head %}
          <title>jasper</title>
          {% endblock %}
    </head>

 <body style="font-family: vazir ; background: #f8f1ff">


  <div style="background-color:#000000;  padding: 2px 0px 1px 0px;  ">
    <nav class="navbar navbar-expand-lg navbar-light bg-  " style="background-color: #fffbff;">


        <img style="width:8% ; height: 100% ; float: right ; " src="{% static 'earth_heart.png'%}" alt="paper"/>



      <!--جستجو-->

      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left:43%;margin-top: 1%;">
        <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link"  href="/post/new"><p class="skinny">ثبت آگهی</p></a>
          </li>
          {% if user.is_authenticated %}
          <a class="nav-link"  href="/logout"><p class="skinny">خروج</p></a>
          {% else %}
          <li class="nav-item">
             <a class="nav-link"  href="/register"><p class="skinny">عضویت</p></a>
          </li>
          <li class="nav-item">
             <a class="nav-link"  href="/login"><p class="skinny">ورود</p></a>
          </li>
          {% endif %}


          <li class="nav-item dropdown" style="">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <p class="skinny">مقطع</p>
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="#"><p class="skinny">کارشناسی</p> </a>
                   <a class="dropdown-item" href="#"><p class="skinny">کارشناسی ارشد</p></a>
                   <a class="dropdown-item" href="#"><p class="skinny">دکتری</p></a>
                </div>
            </li>
         

         <li class="nav-item">
            <a class="nav-link" href="/filedlist"><p class="skinny">رشته</p></a>
         </li>

         <li class="nav-item">
            <a class="nav-link" href="/universitylist"><p class="skinny">دانشگاه</p></a>
         </li>

          <li class="nav-item active">
            <a class="nav-link" href="/"><p class="skinny">خانه</p> <span class="sr-only">(current)</span></a>
          </li>

          
             
        </ul>
      </div>
    <div class="float-left" >
        <a class="navbar-brand"  href="/jasper/">
            <p class="thick" style="font-size: 200%">جاسپــر</p>
        </a>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   </nav>

 </div>
<div style="padding: 2% ; background-color: #121443;">
    <form class="form-inline center" action="{{ request.get_host }}/blog/search/" method="get"> >
        <div class="input-group" style="width:70% ; direction: rtl">
            <input 
                  id="searchinput"
                   name="q"
                   class="form-control mr-sm-2 "
                   type="search"
                   placeholder="در مورد جزوه/ کتاب مورد نظر کلمه ای تایپ کنید..." 
                   aria-label="Search"
                   style="text-align: center; margin-left: 1% ;height:52px">
            <div class="input-group-btn">
                <button class="btn btn-outline-success" onclick="searchform.submit()" type="submit"
                        style="background-color: #246609"><p class="skinny" style="font-size: 90% ; color: white">
                    جستجو</p></button>
            </div>
        </div>
    </form>
    
</div>
<div class="nejat">
<p>نجات درختان، نجات طبیعت.</p>
</div>

<div class="unsernejat">
  <p></p>
  </div>

  {% if user.is_authenticated %}
  <div class="card-header bg-transparent border-success" style="position: fixed; width: 20% ;text-align: center; margin-top:-5%;" dir="rtl">
            
      <br><br>
      <img class="" style="border-radius:100%; width: 35%; height: 15% ; text-align: center;" src="{{ user.profile.image.url }}" alt="paper">
      <a class="card-text" style="color: black ; font-size: 150%  ; margin-right: 2% ;">
              <p class="tiny" style="text-align: center; ">{{ user.username }}</p></a>

              <button style=" clear: both; width:100%; margin-bottom: 1%;">
                    <a class="tiny" style="text-align:center;"  href="#">صندوق پیام</a>
              </button> <br>

              <button style=" clear: both; width:100%; margin-bottom: 1%;">
                    <a class="tiny" style="text-align:center;" href="/post/new"> ثبت آگهی </a> 
              </button> <br>

              <button style=" clear: both; width:100%; margin-bottom: 1%;">
                    <a class="tiny" style="text-align:center;" href="#">آگهی های من</a> 
              </button> <br>

  </div>
  {% endif %}


<div class="sidebar">
  {% if user.is_authenticated %}
    <a class="active" href="/myprofile"> پروفایل کاربری </a>
    <a class="active" href="#contact">دروس عمومی</a>
    <a class="active" href="#about">دروس پایه</a>
    <a class="active" href="#about">دروس اختصاصی</a>
    <a class="active" href="/logout">خروج از حساب کاربری</a>
{% else %}
  <a class="active" href="#contact">دروس عمومی</a>
  <a class="active" href="#about">دروس پایه</a>
  <a class="active" href="#about">دروس اختصاصی</a>
  {% endif %}
</div>



    <div style="margin-bottom:1%">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tag}}">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}

          {% block body %}
            <main style="direction: rtl" class="center">
              {% block content %}
              {% endblock %}
            </main>
          {% endblock %}
    </div>
   
 </body>


<!-- Footer -->
<footer class="page-footer font-small blue" style="background-color: #121443 ;margin: 1%  ;margin-top: 40%;  border-radius: 5px;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><p  style="color: white">© 2019</p>
    <a href="/jasper/"> <p class="thick" style="color: white">گروه جاسپر</p></a>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>