

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <script>
          
        </script>
             <style>
  
  .box {
background-color: rgb(245, 245, 247);
width: 25%;
padding: 25px;
border: 2px solid rgb(179, 178, 178);
margin-bottom: 1%;
margin-left: 40%;
}
.boxouter {
background-color: rgb(245, 245, 247);
width: 75%;
padding: 25px;
}
.center {
margin: 5% 0% 10% 20%;
}
             </style>
          {% block head %}
          <title>jasper</title>
          {% endblock %}
    </head>
    <body style="font-family: vazir; align=right" >
  <!-- نوار انتخاب هدر -->          
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/jasper/" style="background-color:black">جاسپر</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">خانه</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">مقطع <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">کارشناسی</a></li>
                  <li><a href="#">کارشناسی ارشد</a></li>
                  <li><a href="#">دکتری</a></li>
                </ul>
              </li>
              <li><a href="#">دانشگاه</a></li>
              <li><a href="#">رشته</a></li>
            </ul>
<!-- Search-->
            <form class="navbar-form navbar-left" action="/action_page.php">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="جستجو" name="search">
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </div>
                </div>
              </form>
              <!--register and login-->              
              <ul class="nav navbar-nav navbar-right">
              <li><a href="/register"><span class="glyphicon glyphicon-user"></span> ثبت نام</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> ورود</a></li>
            </ul>
          </div>
        </div>
      </nav>
    

   
   
    
    
  

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tag}}">
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
      {% block body %}
        <div class="content">
        <h3>صفحه ی اصلی</h3>
        <p>این صفحه همیشه ثابت است و در تمامی قالب ها محتوای آن تکرار خواهد شد</p>
      </div>
      {% endblock %}
    </body>
</html>