{% extends 'base.html' %}
{%  load static from staticfiles  %}


<html>
<head>
    <meta charset="utf-8">
    {% block head %}
    <title>اسناد</title>
    {% endblock %}
</head>
<body>

{% block body %}

{% if user.is_authenticated %}
{% else %}
<div class="card-header bg-transparent border-success" style="position: fixed; width: 20% ;text-align: right;"
     dir="rtl">
    <img style="width:15% ; height: 100% ; float: right" src="{% static 'logo.png'%}" alt="paper"/>
    <a class="card-text" style="color: black ; font-size: 150% ; float: right ; margin-right: 2% ;margin-top: 1% "><p
            class="tiny">راهنما !</p></a>
    <br><br>
    <p class="text-muted skinny" style="float: left ;text-align: center ">
    <p class="tiny">شما میتوانید توسط مشخصات صاحب جزوه/کتاب در محصل تحصیل و یا شهر خود با وی ارتباط برقرار کرده و اثر را
        دریافت کنید. </p></p>
{% endif %}
</div>
<div class="center">

    <div class="card border-success mb-3" style="max-width: 100%; margin:1%">
        <div class="card-header bg-transparent border-success" style="text-align: right;" dir="rtl">

            <div style="text-align: center">
                <p class="thick">{{object.name}}</p>
                <p class="skinny">{{object.field}}</p>
            </div>

        </div>
        <div class="card-body text-success">
               <img style="width:3% ;  float: right" src="{% static 'master.png'%}" alt="paper"/>
            <p class="card-title skinny" style="padding-top: 0.5%;padding-right: 4%; text-align: right; color: black">{{ object.master}}</p>
                <img style="width:3% ;  float: right" src="{% static 'university.png'%}" alt="paper"/>
            <p class="text-muted skinny" style=" padding-top: 0.5%;padding-right: 4%; text-align: right" dir="rtl">
                {{object.university}}

            <p class="skinny" style="text-align: right; color: black;" dir="rtl">{{ object.description}}</p>
            <p class="skinny" style="text-align: right; color: black;" dir="rtl">{{ object.master}}</p>
             <p class="skinny" dir="rtl"><a style="color: black ; float: right" href="#">{{object.user}}</a>
            </p><br>
            <p class="skinny" style="text-align: right; color: black;" dir="rtl">{{ object.price}}</p>

        </div>
        <a href="/{{Book.id}}">
            <button class="btn btn-outline-success" style="float: left ; margin: 2% ; padding : 2% 10% 2% 10%">
                باز کردن
            </button>

        </a>
    </div>
</div>

{% endblock %}
</body>
</html>

