{% extends 'base.html' %}
{%  load static from staticfiles  %}


{% block title %}جاسپر{% endblock %}




<html>
<head>
    <meta charset="utf-8">
    {% block head %}
    <title>پروفایل کاربری</title>
    <style>
        img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    </style>
    {% endblock %}
</head>
{% block body %}
<body>

   
    <div class="profiletemp" style="padding: 4%; background-color: #555; margin: 0% 25% 0% 25%;">
        <div class="media">
            <img class="" style="border-radius: 45px; width: 15%;" src="{{ user.profile.image.url }}">
            <div>
               <h3 style="clear: both">{{ user.username }}</h3>
                <p class="text-muted">{{ user.email }}</p>
            </div>
        </div>
    </div>

</body>
{% endblock %}

</html>