{% extends 'base.html' %}
{%  load static from staticfiles  %}


{% block title %}جاسپر{% endblock %}




<html>
<head>
    <meta charset="utf-8">
    {% block head %}

    <title>Home</title>
    {% endblock %}
</head>
{% block body %}
<body>

        <div class="card-header bg-transparent border-success" style="position: fixed; width: 20% ;text-align: center;" dir="rtl">
       <img style="width:15% ; height: 100% ; float: right" src="{% static 'logo.png'%}" alt="paper"/>
       <a class="card-text" style="color: black ; font-size: 150%  ; margin-right: 2% ;margin-top: 1% ">
        <p class="tiny" style="text-align: center; ">{{ user.username }}</p></a>
       <br><br>
       <p class="text-muted skinny" style="float: left ;text-align: center ">
       <p class="tiny">جاسپر با هدف حذف کردن کاغذ هایی که توسط داسنجویان و دیگر افراد روزانه هدر میروند ساخته شده است.<br>
           در سال‌های اخیر از طرفی به دلیل رشد فزاینده جمعیت و به تبع آن افزایش میزان تقاضا و از طرف دیگر کاهش شدید منابع
           جنگلی صنایع تولید خمیر و کاغذ کشور که برای تامین مواد اولیه خود به درختان جنگلی وابسته‌اند- به دلیل رو به زوال
           بودن جنگل‌ها و منابع چوبی - با مشکلاتی جدی در تامین مواد اولیه سلولزی مواجه هستند. </p></p>
   
       <img style="width:100% ; height: 100% ; float: right" src="{% static 'mahak.png'%}" alt="paper"/>
   
   </div>
   


</body>
{% endblock %}

</html>