{% extends "base.html" %}
{% load crispy_forms_tags %}
<html>
  <head>
    {% block head %}
    <title>ثبت نام</title>
    {% endblock %}
  </head>
  <body>
{% block body %}
<div class="container" style="margin-right: 30%;">
        <form  method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
             <legend class="border bottom mb-4  ozvshavid">صفحه ی ثبت نام</legend>
             {{form|crispy}}
          </fieldset>
          <div class="form_group">
            <button class="btn btn-outline-info" type="submit" style="text-align:center; width: 100%">ثبت نام</button>
          </div>
        </form>
        <div class="border-top pt-3" style="text-align: right;direction: rtl;">
          <small class="text-muted">
            قبلا ثبت نام کرده اید؟ <a class="ml-2" href="/login">ورود</a>
          </small>
        </div>
</div>
{% endblock %}

   </body>
</html>